@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

header h1 {
    font-family: "Roboto Mono", monospace;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: 600;
    font-size: 24px;
}

form {
    margin: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 10px;
    margin: 5px;
}

input::placeholder {
    font-family: "Roboto Mono", monospace;
}

button {
    background-color: black;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

button:hover {
    background-color: #aaa;
    color: black;
    transition: ease-in-out 0.5s;
}

table {
    width: 80%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #aaa;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    width: 25%;
}

th {
    background-color: lightgray;
}

.actions button {
    margin-right: 5px;
}